.marker-wrapper {
	height: 35px;
	width: 35px;
	transform: translate(-50%, -100%);
	.marker {
		position: relative;
		top: -25%;
		width: 35px;
		height: 35px;
		transform: rotate(45deg);
		border-radius: 50% 50% 0 50%;

		&.region-0 {
			background-color: red;
		}
		&.region-1 {
			background-color: skyblue;
		}
		&.region-2 {
			background-color: white;
		}
		&.region-3 {
			background-color: black;
		}
		&.region-4 {
			background-color: green;
		}
		&.region-5 {
			background-color: blue;
		}

		img {
			position: absolute;
			transform: rotate(-45deg);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 90%;
			padding: 5%;
		}
	}
}
